<div class="main-nav-container">
  <div class="mat-elevation-z6">
    <mat-toolbar class="toolbar" color="primary">
      <mat-icon class="logo-icon">cloud</mat-icon>
      <span class="logo-header">Nexusbrain</span>
      <span class="toolbar-spacer"></span>
      <button fxHide [fxShow.lt-md]="true" mat-icon-button class="toggle-nav-button" (click)="toggleNavigation()">
        <mat-icon>{{ mobileNavHidden ? 'menu' : 'close' }}</mat-icon>
      </button>
      <button mat-icon-button aria-label="Night mode" (click)="toggleDarkMode()">
        <mat-icon>mode_night</mat-icon>
      </button>
      <button mat-icon-button aria-label="User profile" [matMenuTriggerFor]="userProfileMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userProfileMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log out</button>
      </mat-menu>
    </mat-toolbar>
  </div>

  <ng-template #navigation>
    <mat-nav-list>
      <a mat-list-item href="#">Projekty</a>
      <a mat-list-item href="#">Zespoły</a>
      <a mat-list-item href="#">Pracownicy</a>
      <a mat-list-item href="#">Sprinty</a>
      <a mat-list-item href="#">Nexus</a>
    </mat-nav-list>
  </ng-template>

  <div  *ngIf="!mobileNavHidden" fxHide [fxShow.lt-md]="true" [ngClass.lt-md]="'mobile-navigation'" [@mobileNavInOut]>
    <ng-container *ngTemplateOutlet="navigation"></ng-container>
  </div>

  <div class="content-container">
    <div fxHide [fxShow.md]="true" [fxShow.gt-md]="true" [ngClass.md]="'desktop-navigation'"
         [ngClass.gt-md]="'desktop-navigation'" class="mat-elevation-z8">
      <ng-container *ngTemplateOutlet="navigation"></ng-container>
    </div>
    <div class="main-content" [ngClass.md]="'desktop-main-content'" [ngClass.gt-md]="'desktop-main-content'">
      lorem
<!--      <p *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">Lorem</p>-->
    </div>
    <div class="footer">
      <mat-toolbar color="primary">
        <span class="logo-header">Footer</span>
      </mat-toolbar>
    </div>
  </div>

</div>
